html{
    scroll-behavior: smooth;
}


body {
    margin: 0;
    font-family: monospace;
    background-color:hsl(198, 13%, 20%);
    background-image: linear-gradient(rgba(50, 50, 50, 0.40),rgba(50, 50, 50, 0.40)), url(../images/bg\ place.png);  
    background-size: 100% auto;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: top center;
}

.logo{
    position: absolute;
    height: 100px;
    left: 0;
    margin-left: 100px;
    width: 100px;
    border-radius: 950px;
    display: flex;
    
   
}

.navbar{
    position: sticky;
    top: 0;
    width: 96%;
    backdrop-filter: blur(3px);
    display: flex;
    margin-top: 10px;
    padding: 10px;
    padding-right: 50px; 
    justify-content: flex-end;
    align-content: space-around;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 16px;
    padding: 10px 30px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar ul li a:hover{
    background: rgb(255, 255, 255);
    color: rgb(0, 25, 104);
    padding: 10px 30px;
    border-radius: 15px;
    transform: translateY(-5px) ;
}

.title{
    color: white;
    font-family: 'Plush-Trial', sans-serif;  
}

.title h1 {
  text-align: center;
  font-size: 200px;
  margin-bottom: 400px;
  color: #fff; 
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6;
  animation: neonGlow 1.5s ease-in-out infinite alternate;
 animation: float 5s ease-in-out infinite;
    
}

@keyframes float {
    0%, 100% {
        transform: translateY(0); /* The starting and ending position */
    }
    50% {
        transform: translateY(-20px); /* The mid-way position */
    }
}

@keyframes neonGlow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 70px #0073e6;
  }
}

.section{
    background-color: #2C2C2C;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 3rem auto;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.7);
    margin-bottom: 250px;
    scroll-margin-top: 150px;    
}

.section#sapat{
        margin-top: 600px;
}

.section img{
    width: 400px;
    height: auto;
    object-fit: contain;   
    border-radius: 12px;
    border: 1px solid #333;
    box-shadow: 0 0 350px  #F5F5DC; 

}

.section h1{
     font-family: 'Plush-Trial', sans-serif;                                            
    text-decoration: none;
     color: #E4E4E4;
    padding-left: 40px;
    padding-bottom: 5px;
    font-size: 40px;
}

.section a{
    text-decoration: none;
}

.section p{
     font-family: 'Noto Sans Medefaidrin', sans-serif;
    color: rgb(242, 243, 246);
    padding-left: 40px;
    font-size: 15px ;
    line-height: 1.5;
    text-indent: 30px;
    text-align: justify;
}

.section2 {
    background-color:#B39CD0;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 3rem auto;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.7);
    margin-bottom: 250px;
    scroll-margin-top: 200px;
}

.section2 img{
    width: 400px;
    height: auto;
    object-fit: contain;   
    border-radius: 12px;
    border: 1px solid #333;
    box-shadow: 0 0 350px  #F5F5DC; 
}

.section2 h1{
    font-family: 'Plush-Trial', sans-serif;
     color: #333;
    padding-left: 1px;
    padding-bottom: 5px;
    font-size: 40px;
}

.section2 a{
    text-decoration: none;
}

.section2 p{
    font-family: 'Noto Sans Medefaidrin', sans-serif;                         
    color: #080000;
    padding-right: 40px;
    font-size: 15px ;
    line-height: 1.5;
    text-indent: 30px;
    text-align: justify;
}
